*,
::after,
::before {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  font-family: "Jolly Lodger", system-ui;
  /* background-color: "dark" !important; */
}
body{
  overflow-x: hidden;
}
.Home {
  /* font-weight: 400;
  font-style: normal; */
}
.Home-header, .home-header {
  font-size: 6rem;
  color: purple;
}
.art-header {
  color: white;
}
.img-pic {
  border-radius: 50%;
}
.background-image{
  position: absolute;
  transform: rotate(-10deg);
  margin-left: -3rem;
  z-index: -1;
}
#filter{
margin-right: 70%;
padding: 10px;
border-radius: 10px;
}
input{
  padding: 10px;
  border-radius: 10px 0 0 10px;
  width: 15%;
}
