*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jolly Lodger", system-ui;
  background-color: 120C0C;
}
.Home {
    
  font-weight: 400;
  font-style: normal;
}
.Home-header, .home-header {
  font-size: 6rem;
  color: purple;
  text-align: center;
}
.art-header {
  color: white;
}
.img-pic {
  border-radius: 50%;
}










